
body {
    background-image: url(/img/metro\ paris\ reduced.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto Condensed', sans-serif;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1, h2 {
    font-size: 32px;
    font-weight: bold;
    color: rgb(26, 46, 29);
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
               1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

#increment-btn {
    background-image: linear-gradient(to right, rgb(247, 35, 35) , rgb(92, 24, 1));
    border: none;
    border-radius: 10px;
    padding: 15px 25px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

#save-btn {
    background-image: linear-gradient(to left, rgb(0, 80, 25) , rgb(56, 254, 80));
    border: none;
    border-radius: 10px;
    padding: 15px 40px;
    color: white;
    font-weight: bold;
    margin-top: 15px;
}

button:hover {
    cursor: pointer;
    opacity: 80%;
} 

#save-el {
    font-size: 32px;
    font-weight: bold;
    color: rgb(26, 46, 29);
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
               1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}